<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">   
           <meta name="theme-color" content="#000" />
    
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
     
         <!-- Site Metas -->
        <title>Datatobsn - Innovación al negocio</title>  
        <meta name="description" content="Somos una empresa dedicada a la creación de soluciones innovadoras, que tienen como objetivo principal ayudar a otros negocios y empresas a aprovechar los datos que generan, facilitando la toma de decisiones objetiva, correcta y oportuna"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
         <!-- whatsapp -->


              <!-- whatsapp -->
        <script src="assets/whatsapp/jquery-3.3.1.min.js"></script>
        <link href="assets/whatsapp/floating-wpp.min.css" rel="stylesheet">
        <script src="assets/whatsapp/floating-wpp.min.js"></script>

        <!-- Site CSS -->
        <link href="assets/css/home/dtobstyle.css" rel="stylesheet">

       
        <!-- Twitter Card data -->
        <meta name="twitter:card" value="summary">
    
        <!-- Open Graph data -->
        <meta property="og:title" content="data to business" />
        <meta property="og:type" content="principal web page" />
        <meta property="og:url" content="http://www.datatobsn.com/" />
        <meta property="og:image" content="http://example.com/image.jpg" />
        <meta property="og:description" content="Description Here" />
    
        <!-- Site Icons -->
        <link rel="shortcut icon" href="https://s3.amazonaws.com/datatobusiness.assets/Pesta%C3%B1a_ICON.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="https://s3.amazonaws.com/datatobusiness.assets/Pesta%C3%B1a_ICON.ico">
    
        <script src="https://kit.fontawesome.com/0b2173f29a.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    
    
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
    
</head>
<body>
    <router-outlet></router-outlet>


    <script src="assets/js/main.js"></script>



</body>
</html>