
<section id=whatsapp>
    <div id="whatsappbutton"></div>

    <script type="text/javascript">
        $(function () {
            $('#whatsappbutton').floatingWhatsApp({
                phone: '525547402770',
                headerTitle: '¡Bienvenido!',
                popupMessage: '¿Cómo podemos ayudarte?',
                message: "Escribe aquí tu mensaje...",
                showPopup: true,
                showOnIE: true,
                // headerColor: 'crimson',
                // backgroundColor: 'crimson',
                // buttonImage: '<img src="whatsapp/whatsapp.svg" />',
                position: "right" //Position: left | right

            });
        });
    </script>
</section>






<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" >
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <img class="img-fluid" width="150px" src="https://s3.amazonaws.com/datatobusiness.assets/Logos/DToB_Blue_plano_Azul_prueba5.png" alt="" />
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Visionmision">Visión y misión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Procesos">Procesos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Contacto">Contacto</a>
        </li>

      </ul>
    </div>
</nav>

<section id="page-top">
    <div class="text text-left" >
      
        <h1>Data to Business</h1>
        <div class="typing text-left">
          <span>Transforma </span><span id="typed"></span>
        </div>
        
    </div>

    <div  class="landing_image ">
    </div>
</section>
    <div class="line"></div>

<section id="Nosotros" class="nosotrosimage">
        <div class="container">
        <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
        <br>
        <br>
        <br>
        <br>
        <h2> NOSOTROS</h2>
        <br>
            <p> Somos una empresa dedicada al desarrollo de software y soluciones tecnológicas de alto nivel. Ayudamos a otras empresas a entender las nuevas tecnologías, facilitando el aprovechamiento de los datos que generan, así como la toma de decisiones objetiva, correcta y oportuna.</p>
        </div>
        <div class="col-md-2">
        </div>
        </div>
        </div>        

        <div class="container">
        <div class="row">
        <div class="col-md-6 text-center">
        <br>
        <br>
            <img class="imgicon" src="https://dtob.s3.amazonaws.com/telescopio_icon.png" alt="mision">
            <br>
            <br>
            <br>
        <h2> VISIÓN</h2>
        <br>
            <p> Ser la empresa número uno en servicios de software de gama alta y business intelligence, acompañando a empresas nacionales y extranjeras, en su proceso de incursión en la transformación digital.</p>        
        </div>
        <div class="col-md-6 text-center">
        <br>
        <br>
            <img class="imgicon" src="https://dtob.s3.amazonaws.com/astronaut_icon.png" alt="mision">
            <br>
            <br>
            <br>
        <h2> MISIÓN</h2>
        <br>
            <p> Ayudar a cualquier tipo de empresa a identificar, analizar y aprovechar los datos que generan, de manera objetiva, sencilla y eficiente, convirtiéndolos en información útil y relevante en la toma de decisiones</p>        
        </div>
        </div>
        </div> 
</section>



<div class="container-productos">
    <div class="row">
     <div class="container">
     <div class="col-md-12">
          <br>
          <br>
          <h2> NUESTROS PRODUCTOS </h2>
          <br>
          <br>
          <p>El software que se diseña en data to business, se divide en cuatro principales categorías,<br> da clic en cada una de ellas para poder conocer más. </p>
          <br>
          <br>
         <div class="row text-center">
          <div class="col-md-3">
             <div class="card">
               <div class="card-body">
                 <br>
                <div class="card-title"><img class="imgicon" src="https://www.flaticon.com/svg/static/icons/svg/3879/3879707.svg" alt="web"></div>
                   <div class="card-text">
                     <br>
                     <br>
                    <h3>Páginas web de alto rendimiento</h3>
               </div>
             </div>
          </div>
           <br>                            
         </div>
         <div class="col-md-3">
             <div class="card">
               <div class="card-body">
                 <br>
                <div class="card-title"><img class="imgicon" src="https://www.flaticon.com/svg/static/icons/svg/3880/3880145.svg" alt="móvil"></div>
                   <div class="card-text">
                     <br>
                     <br>
                    <h3>Aplicaciones móviles</h3>
               </div>
             </div>
          </div>
          <br> 
         </div>
         <div class="col-md-3">
             <div class="card">
               <div class="card-body">
                 <br>
                <div class="card-title"><img class="imgicon" src="https://www.flaticon.com/svg/static/icons/svg/2782/2782245.svg" alt="cloud"></div>
                   <div class="card-text">
                     <br>
                     <br>
                    <h3>Business intelligence</h3>
               </div>
             </div>
          </div>
          <br> 
         </div>
         <div class="col-md-3">
             <div class="card">
               <div class="card-body">
                 <br>
                <div class="card-title"><img class="imgicon" src="https://www.flaticon.com/svg/static/icons/svg/3844/3844075.svg" alt="cloud"></div>
                   <div class="card-text">
                     <br>
                     <br>
                    <h3>Cloud technologies</h3>
               </div>
             </div>
          </div>
          <br> 
         </div>
       <br>
       <br>
     </div>
    </div>
   </div>




   <hr>
   <section id="Procesos" class="procesosimage">
     <div class="container">
      <div class="row text-center">
       <div class="col-md-12">
            <br>
            <br>
            <h2> NUESTROS PROCESOS </h2>
            <br>
            <p>Te ofrecemos conocer a tus clientes, recolectando y analizando los datos que se generan en tu página web o en tu propia aplicación móvil, de forma completamente segura. A continuación te mostramos los tres principales procesos sobre los que basamos nuestro trabajo:</p>
            <br>
            <br>
           <div class="row text-center">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-2 icon-margin-top">
                <img class="imgiconprocesos" src="https://dtob.s3.amazonaws.com/funnel_uno.png" alt="recoleccion">
                </div>
                <div class="col-md-10">
                 <br>
                <h3>RECOLECCIÓN</h3>
                </div>
              </div>
              <div class="row">
               <div class="col-md-2">
                </div>
                <div class="col-md-10 text-justify">
                <span>Somos especialistas en la identificación y extracción de datos a partir de documentación, imágenes o video, páginas web, redes sociales y aplicaciones web.</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-2 icon-margin-top">
                <img class="imgiconprocesos" src="https://dtob.s3.amazonaws.com/grafica_icon.png" alt="analisis">
                </div>
                <div class="col-md-10">
                 <br>
                <h3>ANÁLISIS</h3>
                </div>
                </div>
                <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10 text-justify">
                <span>Ofrecemos soluciones de análisis de datos para facilitar la toma correcta de decisiones y su conversión en información útil para tu empresa.</span>
                </div>
                </div>
             </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-2 icon-margin-top">
                <img class="imgiconprocesos" src="https://dtob.s3.amazonaws.com/custodia_icon.png" alt="custodia">
                </div>
                <div class="col-md-10">
                 <br>
                <h3>CUSTODIA</h3>
                </div>
                </div>
                <div class="row">
                 <div class="col-md-2">
                 </div>
                <div class="col-md-10 text-justify">
                 <span>Somos capaces de garantizar la custodia de tus datos, en cada una de las etapas que éstos sean generados.</span>
                </div>
                </div>
             </div>
           </div>
         <br>
         <br>
         <br>
       </div>
      </div>
     </div>
   </section>
   <hr>
   <section id="Servicios" class="serviciosimage">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
           <br>
           <br>
           <br>
           <h2> NUESTROS SERVICIOS </h2>
           <p>En Data to Business enaltecemos el valor humano, por lo que previo a brindar cualquiera de nuestro servicios buscamos conocer y empatizar con las necesidades de nuestros clientes, para así poder ofrecer soluciones concretas a sus necesidades.</p>
           <br>
          <div class="row">
           <div class="col-md-4">
            <br>
             <h3>Consultoría</h3>             
          </div>
          <div class="col-md-4">
           <br>
             <h3>Software a la medida</h3>   
          </div>
          <div class="col-md-4">
           <br>
           <h3>Soluciones empaquetadas</h3>
          </div>
        </div>
      </div>
     </div>
    </div>
  </section>
    <hr>


  <section id="Contacto">
    <div class="container text-align-center">
      <h2>CONTACTO</h2>
         <br>
         <div class="container">
           <div class="col-md-12 text-center">
            <form action="https://formspree.io/xeqpjewl" method="POST">
                    <div class="form-group">
                      <label for="exampleName">Nombre</label>
                      <input name="Nombre" required type="name" class="form-control" id="exampleName" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                      <label for="exampleMail">Correo Electrónico</label>
                      <input name="Correo_electronico" required type="email" class="form-control" id="exampleMail" placeholder="E-Mail">
                    </div>
                    <div class="form-group">
                      <label for="exampleMessage">Mensaje</label>
                      <textarea name="Mensaje" class="form-control" id="exampleMessage" cols="30" rows="10" placeholder="Escribe tu mensaje..."></textarea>
                    </div>                     
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
                <br>
                <br>
           </div>
         </div>
    </div>

  </section>

  <div class="line"></div>

  <footer class="imgfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <br>
            <div class="shadow p-4 mb-5 bg-white rounded">

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1119.4335581611747!2d-99.12414004822318!3d19.312321059095876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa2f55326bbd35699!2sVILLA%20COAPA!5e0!3m2!1ses-419!2smx!4v1608173385639!5m2!1ses-419!2smx" width="300" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

             </div>

        </div>
        <div class="col-md-5">
          <br>
          <br>
            <span class="spanfooter">Data to business 2021 <br> Desarrollo de software a la medida &</span>
            <br>
            <span class="spanfooter"> business Intelligence </span>
            <br>
            <br>
            <span class="spanfooter"> <a href="tel:+5547402770">55 4740 2770 & 55 3757 4374</a></span>
            <br>
            <br>
            <span class="spanfooter"><br>Powered by Data to business 2021</span>
            <div><span>Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span></div>

        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Hotjar Tracking Code for http://datatobsn.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1826042,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    
    
    $(function () {
  $('[data-toggle="popover"]').popover()
})

</script>